@font-face {
    font-family: 'Cavet-B';
    font-weight: 700;
    src: url(../Fonts/Caveat/static/Caveat-Bold.ttf);
}
/* ------------------------------------------ */
nav {
    height: 60px;
    padding: 10px;
}
/* ------------------------------------------ */
.aside {
    width: 60px;
    min-height: 93vh;
    padding: 10px;
    justify-content: space-between;
}
.aside-button {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;    
}
.aside-button:hover {
    background-color: #050b2b20;
}
.aside-button:active {
    scale: 0.9;
}
.aside-button img {
    width: 100%;
}
/* ------------------------------------------ */
.main-view {
    width: calc(100% - 50px);
    min-height: 93vh;
    background-color: #EAF6FF;
    border-top-left-radius: 15px;
}
/* ------------------------------------------ */
.menu-kinds {
    padding: 10px;
    overflow-x: auto;
    -ms-overflow-style: none; /* for IE and Edge */
    scrollbar-width: none; /* for Firefox */
}
.menu-kinds::-webkit-scrollbar {
    display: none;
}
.kind-box {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;
}
.kind-box:active {
    scale: 0.95;
}
.kind-box.active {
    background-color: #3395ff;
    background-image: linear-gradient(36deg, var(--our-blue) 60%, var(--deep-sky-blue) 100%);
    color: white;
}

.main-menu {
    padding: 10px;
}
.item-box {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    position: relative;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.15s 0s ease-in-out;
}
.item-box:active {
    scale: 0.95;
}
.item-box .img {
    position: absolute;
    top: 0;
    left: 0;
}
.item-box p {
    position: relative;
    z-index: 1;
    padding: 5px;
    font-size: 18px;
    background-color: #05172515;
    color: white;
}
#item-price {
    justify-content: flex-end;
}
/* ------------------------------------------ */
.receipt {
    width: 320px;
    min-height: 93vh;
    position: relative;
    padding: 10px;
    background-color: white;
}
.receipt .align {
    text-align: center;
}
#order-quantity, #order-addon-quantity {
    margin-right: 5px;
    font-size: 16px;
}
#order-addon {
    margin-left: 20px;
    font-size: 16px;
}
.receipt-price {
    width: 92%;
    position: absolute;
    bottom: 25px;
}
.pay-btn {
    padding: 10px 20px;
    background-color: var(--deep-sky-blue);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;
}
.pay-btn:active {
    background-color: var(--our-blue);
    scale: 0.95;
}
#price {
    margin-right: 10px;
}
/* ------------------------------------------ */
.order-modal .box {
    width: 720px;
    position: relative;
    padding: 0px;
    overflow: hidden;
}
#order-div-cover {
    height: 250px;
    position: relative;
    overflow: hidden;
}
#order-cover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(0.6);
    object-position: center;
    object-fit: cover;
}
#order-cover-name {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    font-family: 'Cavet-B', 'Arial';
    font-weight: 700;
    font-size: 102px;
    text-shadow: 0px 7px 20px #ffffff90;
    color: white;
}
#img-order-box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 30px;
    z-index: 3;
    border: 5px var(--alice-blue) solid;
    border-radius: 25px;
    overflow: hidden;
}
#order-modal-title {
    margin-left: 240px;
}
#order-modal-title .text {
    opacity: 0.5;
}
.pad {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
}

#order-quantity {
    max-width: 60px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    text-align: center;
}
.choice-btn {
    min-width: 90px;
    padding: 3px 20px;
    background-color: transparent;
    border: 3px var(--our-blue) solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s 0s ease-in-out;
}
.choice-btn:active {
    scale: 0.95;
}
.choice-btn.active {
    background-color: var(--our-blue);
    color: white;
}
.add-order {
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    background-color: #bde0ff;
}
.blue-btn-2 {
    font-size: 26px;
}